.root,
#root,
#docs-root {
   --primary-background-color: #141414;
   --secondary-background-color: #282828;
   color: rgba(255, 255, 255, 0.87);
   background: var(--primary-background-color);
}

@media (prefers-color-scheme: dark) {
   :root {
      --primary-background-color: #141414;
      --secondary-background-color: #282828;
   }
}
@media (prefers-color-scheme: light) {
   :root {
      --primary-background-color: #ffffff;
      --secondary-background-color: #f2f2f2;
   }
}
