.container-bg {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   padding-top: 20px;
   padding-bottom: 20px;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   margin: 0 auto;

   img {
      height: 100%;
      margin: 0 auto;
      transition: opacity 0.3s;
      border-radius: 25px;
      &:hover {
         opacity: 10%;
      }
   }
}

.text-content {
   color: whitesmoke;
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: 10px;
   height: 90%;
   background-color: var(--secondary-background-color);
   transition: opacity 0.3s;
   &:hover {
      opacity: 50%;
   }
   @media only screen and (max-width: 600px) {
      width: 90%;
      margin: 0 auto;
      margin-top: 50px;
   }
}

.text-title {
   background-color: black;
   position: sticky;
   top: 100px;
   animation: adjust-header linear both;
   animation-timeline: scroll();
   animation-range: 0 200px;
   padding: 10px;
   margin: auto;
   text-align: center;
   filter: contrast(200%);
}

@keyframes adjust-header {
   to {
      color: white;
      background-color: transparent;
      font-size: 30px;
      font-weight: bold;
      height: 30px;
   }
}
